<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>
<style>
    .ke-powered-by {
        display: none;
    }

    .btn-file {
        position: relative;
        overflow: hidden;
    }

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
</style>

<body>
    <%- include('nav.ejs') %>
    <div class="container" style="padding-bottom: 100px;">
        <div class="col-md-12">
            <div class="row" style="border: 1px solid #ccc!important;">
                <div class="col-md-12" style="background: #f1f1f1; padding: 12px;">
                    <h4>Create New Blog</h2>
                </div>
                <div class="col-md-12" style="padding: 12px;">
                    <form>
                        <div class="form-group">
                            <label>Blog Title</label>
                            <input type="text" placeholder="Title" class="form-control blog_title" />
                        </div>
                        <div class="form-group">
                            <label>Banner Image</label><br>
                            <img src="./img/default_banner.png" id="banner_img" height="100"
                                style="border-radius: 5px;">
                            <span class="btn btn-default btn-file">
                                Browse <input type="file" name="input_banner_img" id="input_banner_img" />
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Short Description
                                <span style="font-style: italic; font-size: 12px; color: #bb1c1c;">(Max 200
                                    characters)</span>
                            </label>
                            <textarea class="form-control short_desc"
                                placeholder="Please enter your description here (Max 200 characters)..." rows="3"
                                maxlength="200"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Industries</label> <br />
                            <select class="industry_option" id="boot-multiselect-demo" multiple="multiple"></select>
                        </div>
                        <div class="form-group">
                            <label>Blog Content</label>
                            <textarea id="editor_classic" style="width: 100%;"></textarea>
                        </div>
                        <button class="btn btn-primary publish_blog">
                            Publish
                            <i class="fa fa-refresh fa-spin" aria-hidden="true" style="display: none;"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include('default_scripts.ejs') %>

<script type="text/javascript">
    $.ajax({
        url: '/api/industry',
        method: 'GET',
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        success: function (data) {
            $('.industry_option').html(
                data.response ? data.response.map(s => `<option value="${s.id}">${s.industry_name.toLowerCase()}</option>`).join('') : []);
            $(document).ready(function () {
                $('#boot-multiselect-demo').multiselect({
                    includeSelectAllOption: true,
                    buttonWidth: 250,
                    enableFiltering: true
                });
            });
        }
    });
</script>
<script>
    document.getElementById("input_banner_img").addEventListener("change", readFile);
    function readFile() {
        if (this.files && this.files[0]) {
            var FR = new FileReader();
            FR.addEventListener("load", function (e) {
                document.getElementById("banner_img").src = e.target.result;
            });
            FR.readAsDataURL(this.files[0]);
        }
    }
    const editor = KEDITOR.create('editor_classic', {
        display: 'block',
        width: '100%',
        height: 'auto',
        popupDisplay: 'full',
        charCounter: true,
        buttonList: [
            ['undo', 'redo'],
            ['font', 'fontSize', 'formatBlock'],
            ['bold', 'underline', 'italic', 'strike', 'subscript', 'superscript'],
            ['removeFormat'],
            ['fontColor', 'hiliteColor'],
            ['outdent', 'indent'],
            ['align', 'horizontalRule', 'list', 'table'],
            ['link', 'image', 'video'],
            ['fullScreen', 'showBlocks', 'codeView'],
            ['preview', 'print']
        ]
    });

    $('.publish_blog').click(function (e) {
        e.preventDefault();
        const property = document.getElementById('input_banner_img').files[0];
        if (!$('.blog_title').val()) {
            $('.blog_title').focus();
            $('.blog_title').css('border-color', 'red');
            return false;
        } else if (!$('.short_desc').val()) {
            $('.blog_title').css('border-color', '');
            $('.short_desc').focus();
            $('.short_desc').css('border-color', 'red');
            return false;
        } else {
            if (property) {
                const imageName = property.name;
                const imageExtension = imageName.split('.').pop().toLowerCase();
                if (jQuery.inArray(imageExtension, ['gif', 'png', 'jpg', 'jpeg']) === -1) {
                    alert('invalid image file');
                    return false;
                }
            }
            const data = {
                title: $('.blog_title').val(),
                short_desc: $('.short_desc').val(),
                industry: $('#boot-multiselect-demo').val() ? $('#boot-multiselect-demo').val() : [],
                banner_img: $('#banner_img').attr('src') !== './img/default_banner.png' ? $('#banner_img').attr('src') : null,
                content: JSON.stringify($('.ke-wrapper-inner').html())
            }
            $.ajax({
                url: '/api/blog',
                method: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                beforeSend: function () {
                    $('.publish_blog').css('pointer-events', 'none');
                    $('.fa-refresh').css('display', '');
                },
                success: function (data) {
                    $('.publish_blog').css('pointer-events', '');
                    $('.fa-refresh').css('display', 'none');
                    localStorage.removeItem('DataTables_blogList_/blog');
                    window.location = 'blog';
                }
            })
        }
    })
</script>

</html>