<head>
    <meta charset="UTF-8">
    <title>NT Blog</title>
    <meta name="author" content="shailesh bist">
    <link rel="shortcut icon" href="../img/favicon.png" />
    <script src="../js/auth_landing.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/bootstrap-multiselect.css" type="text/css">
    <link rel="stylesheet" href="../assets/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../assets/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="../keditor/css/keditor.min.css">
</head>